
<div class="container">
<h1><%= title %></h1>
    <div class="row">
        <div class="col-6">
            <form>
                <div class="mb-3">
                  <label for="exampleInputLogin" class="form-label">Login</label>
                  <input type="string" class="form-control" id="exampleInputLogin" aria-describedby="LoginHelp">
                  
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

  