<div class="container">
    <h1><%= title %></h1>
        <div class="row">
            <div class="col-6">
                <form action="/user" method="POST">
                    <div class="mb-3">
                      <label for="Login" class="form-label">Login</label>
                      <input type="string" class="form-control" id="Login" name="Login" aria-describedby="LoginHelp">
                      
                    </div>
                    <div class="mb-3">
                      <label for="Password" class="form-label">Password</label>
                      <input type="Password" class="form-control" id="Password" name="Password">
                    </div>  
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
    
      