
<h1><%= title %></h1>
<form style="display: flex; flex-direction: column; gap: 10px;">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" required>
    <label for="firstname">Firstname</label>
    <input type="text" id="firstname" name="firstname" required>
    <label for="age">Age</label>
    <input type="number" id="age" name="age" required>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>
    <label for="password">Confirm Password</label>
    <input type="password" id="password" name="password" required>
    <button type="submit">Inscription</button>
</form> 