<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="navbar" style="display: flex; justify-content: space-between; align-items: center; padding: 10px; background-color: #f5f5f5;">
            <ul style="display: flex; justify-content: flex-start; list-style-type: none; gap: 10px;">
                <li><a style="text-decoration: none;"href="/user">Home</a></li>
                <li><a style="text-decoration: none;" href="/about">About</a></li>
                <li><a style="text-decoration: none;" href="/connexion">Connexion</a></li>
                <li><a style="text-decoration: none;" href="/inscription">Inscription</a></li>  
                <li><a style="text-decoration: none;" href="/chat">Chat</a></li>
            </ul>
            <img style="align-items: stretch;" src="images/express-js.png" alt="express-js" width="150" height="100">
        </nav>
    </header>
    <%- body %>
</body>
</html>